.banner {
    width: 100%;
    /* border: solid deepskyblue; */
    padding-block: 2.5rem;
    overflow: hidden;


    .scroller {

        background: linear-gradient(45deg, var(--snitap-sky-light)  0%, var(--snitap-joy-light) 100%);
        background-size: 400%;
        background-position: 0 50%;
        animation:gradient 13s ease infinite;
        width: 100%;
        overflow: hidden;
        padding-block: 1rem;
    }

    .rolling {

        display: flex;
        gap: 1.5rem;
        animation: rolling 2s linear infinite;
    }

}


@keyframes gradient {
    50% {
        background-position: 100% 50%;
    }

}

@keyframes rolling {
    to {
        transform: translateX(-132px);
    }

}