section.hero {
    padding: 2.5rem 2rem;
    margin-inline: auto;

    & h1 div {
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
    }

    h1 span:nth-child(1) {
        color: var(--snitap-sky-mid);
    }

    h1 span:nth-child(2) {
        color: var(--snitap-joy-mid);
    }

    h1 span:nth-child(3) {
        color: var(--snitap-leaf-mid);
    }
    h1 span:nth-child(4) {
        color: var(--snitap-leaf-mid);
    }

    h1 span{
        display: block;
        animation: slide-up 6s infinite;
    }
}

@keyframes slide-up {

    0%,
    22% {
        transform:translateY(0);
    }

    33%,
    55% {transform: translateY(-5rem);}

    66%,
    88% {transform: translateY(-10rem);}

    100% {
        transform: translateY(-15rem);
    }

}