.container{
    max-width: 80rem;
    width:100%;
}
.items-center{
    align-items: center;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.gap-1{
    gap:1rem;
}
.gap-1\.5{
    gap:1.5rem;
}
.gap-2{
    gap:2rem;
}